# Virtual environment
.venv/
venv/

# Private config
.env*
*.pem

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Python build artifacts
build/
dist/
*.egg-info/

# OS and IDE files
.DS_Store
.vscode/
.idea/

# Python cache
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Cache
.cache/
.cache-test/
.cache*

# Data files
data/
*.db

# Test files
test_codes/