# OS and IDE files
.DS_Store
*.pem
*.env
.vscode/
.idea/

# Python cache
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Cache
.cache/
.cache-test/

# Data files
data/

# Test files
test_codes/